src/main/app/mask-fields.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<flow name="mask-fieldsFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/mask" doc:name="HTTP"/>
		<logger message="InboundHeaders are: #[message.inboundProperties]" level="INFO" doc:name="Log Headers"/>
		<dw:transform-message doc:name="Transform Message">
			<dw:set-variable variableName="maskedFeilds"><![CDATA[%dw 1.0
%output application/java
%var ip = inboundProperties
%var feilds = log("fields from mule-app are: ",(p('fields') splitBy ',')) default []
%function maskFields(input, fields) (feilds reduce ((val ,acc=input) -> ((acc - val) ++ ((val): '*******')) when input[(val)] != null otherwise acc))
---
maskFields(ip, feilds)]]></dw:set-variable>
		</dw:transform-message>
		<logger message="Masked fields: #[flowVars.maskedFeilds]" level="INFO" doc:name="Logger"/>
	</flow>
</mule>
